@import '~font-awesome/css/font-awesome.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  /* position: relative; */
  color: white;
  height: 100vh;
  background-color: rgb(71, 94, 128);
  /* background-image: linear-gradient( 45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7) ); */
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: scroll;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.body-container {
  /* border: solid; */
  padding-left: 240px;
}

.table-form {
  background: none;
  border: none;
  width: 80%;
}

.table-form:focus {
  border: none;
  outline: 0;
}

.table-form:active {
  border: none;
  outline: 0;
}

.add-row {
  color: #3e3e3e;
  margin-left: 8px;
}

.add-row:hover {
  color: #95fc80;
}

.header-row > th {
  font-size: 20px;
}

@media (min-width: 768px) {
  .body-container {
    padding-left: 34px;
  }
}

@media (max-width: 768px) {
  .body-container {
    padding-left: 0px;
  }
}

.error-message {
  color: #ff8f8f;
  font-size: 23px;
}

td.error {
  border: 2px solid red !important;
  background: #ff8f8f;
  color: #d20000;
}

th.error {
  border: 2px solid red !important;
  background: #ff8f8f;
  color: #d20000;
}

.add-button:hover {
  color: #ff8f8f;
  cursor: pointer;
}

.form-td {
  background: #c5c5c5;
  color: black;
  font-size: 17px;
}

.edit-td {
  background: rgba(255, 255, 255, 0.63);
  color: black;
}

.delete-td {
  font-size: 15px;
  color: #ff9191;
}

.delete-td:hover {
  color: red;
}

.btn-create-report {
  width: 179px;
  height: 170px;
  font-size: 35px;
  background: rgba(0, 0, 0, 0.54);
  color: #b9b9b9;
  border: 1px solid white;
  border-radius: 136px;
}
.btn-create-report:hover {
  background: rgba(0, 0, 0, 0.74);
  color: #a8ebff;
}

.clean-btn {
  cursor: pointer;
}

.clean-btn:hover {
  color: rgb(240, 109, 109);
}

.error-div {
  border: 1px solid red;
}
